<h1>About Blocipedia</h1>
<ul>
	<h4>Sign up</h4>
	<li>Standard user</li>
		<p>Free to sign up for a standard user.</p>
		<p>You can create and edit your own public wikis.</p>
		<p>You can edit any public wiki.</p>

	<li>Premium user</li>
		<p>Cost is a one time $15.00 fee.</p>
		<p>In addition to the standard user privilages:</p>
		<p>You can create and edit your own public wikis.</p>
		<p>You an create and edit your own private wikis.</p>

	<li>Guest are always welcome to view any public wikis.</li>
</ul>


