
<div class="jumbotron jumbotron-fluid vertical-center" style="background-color: #e3f2fd;">
  <div class="container">
    <h1 class="display-3">Blocipedia</h1>
    <p class="lead">This is a a production quality SaaS app that allows users to create their own wikis.</p>
    <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
  </div>
</div>
