<div class="col-md-12">
<!-- <h1>My Wikis</h1> -->

<div class="container">
  <h2>My Wikis</h2>
  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    	<%= render @wikis %>

  </table>



<br />

	<%= link_to "Create New Wiki", new_wiki_path, class: "btn btn-success" %>
</div>
