<%= form_tag charges_path  do %>
	
	<p>To upgrade to premium account:</p>
	<p>The cost is $ 15.00.</p>
	<h4>Click the button!</h4>
	<script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" >
	</script>

<% end %>
